@font-face {
  font-family: 'Digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 320px;
    margin: 0 auto;
    border-bottom: #161515 solid 5px;
    border-right: #161515 solid 5px;
    border-radius: 8px;
    font-family: "Press Start 2P", system-ui;
    padding: 20px;
    background-color: #201E1F;
    color: #F1D9BD;
}

p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #F1D9BD;
}

input {
    width: 100%;
    height: 50px;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #82957A;
    border: #666E61 solid 3px;
    font-family: 'Digital-7';
    color: #161515;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    min-height: 70px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    border-bottom: 5px solid #272626;
    background-color: #2C2B2B;
    color: #ED6F40;
    transition: all 0.1s ease-in-out;
    font-family: "Press Start 2P", system-ui;
}

.btn:hover {
    background-color: #414040;
}

.btn:active {
    transform: translateY(2px);
    border-bottom: 3px solid #272626;
}

.btn.operator {
    background-color: #F1D9BD;
    color: #ED6F40;
    font-family: "Press Start 2P", system-ui;
    border-bottom: 5px solid #d8c3aa;
}

.btn.operator:hover {
    background-color: #f3e0ca;
}

.btn.operator:active {
    transform: translateY(2px);
    border-bottom: 3px solid #d8c3aa;
}

.btn.clear {
    background-color: #ED6F40;
    color: #F1D9BD;
    font-family: "Press Start 2P", system-ui;
    border-bottom: 5px solid #d56339;
}

.btn.clear:hover {
    background-color: #ee7d53;
}

.btn.clear:active {
    transform: translateY(2px);
    border-bottom: 3px solid #d56339;
}

.backspace-icon {
    width: 33px;
    height: 33px;
    fill: currentColor;
    transform: translate(1.5px, 2px);
}

#zero-btn {
    grid-column: span 3;
}
